<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user</key>
	<dict>
		<key>login</key>
		<dict>
			<key>path</key>
			<string>/api/v1/session</string>
			<key>method</key>
			<string>POST</string>
			<key>parameter</key>
			<array>
				<string>type</string>
				<string>openID</string>
			</array>
			<key>description</key>
			<string>用户用QQ登录</string>
		</dict>
		<key>loginWithPassword</key>
		<dict>
			<key>path</key>
			<string>/api/v1/session</string>
			<key>method</key>
			<string>POST</string>
			<key>parameter</key>
			<array>
				<string>type</string>
				<string>UID</string>
				<string>password</string>
			</array>
			<key>description</key>
			<string>用户用UID和密码登录</string>
		</dict>
		<key>loginWithApple</key>
		<dict>
			<key>path</key>
			<string>/api/v1/session</string>
			<key>method</key>
			<string>POST</string>
			<key>parameter</key>
			<array>
				<string>type</string>
				<string>userIdentifier</string>
			</array>
			<key>description</key>
			<string>用户通过AppleID登录</string>
		</dict>
		<key>info</key>
		<dict>
			<key>path</key>
			<string>/api/v1/user</string>
			<key>method</key>
			<string>GET</string>
			<key>parameter</key>
			<array/>
			<key>description</key>
			<string>获取用户信息</string>
		</dict>
		<key>sign</key>
		<dict>
			<key>path</key>
			<string>/api/v1/user/sign</string>
			<key>method</key>
			<string>POST</string>
			<key>parameter</key>
			<array/>
			<key>description</key>
			<string>用户进行签到</string>
		</dict>
		<key>charge</key>
		<dict>
			<key>path</key>
			<string>/api/v1/user/point</string>
			<key>method</key>
			<string>PATCH</string>
			<key>parameter</key>
			<array>
				<string>level</string>
			</array>
			<key>description</key>
			<string>用户充值</string>
		</dict>
	</dict>
	<key>template</key>
	<dict>
		<key>uploadTemplate</key>
		<dict>
			<key>path</key>
			<string>/api/v1/templates</string>
			<key>method</key>
			<string>POST</string>
			<key>parameter</key>
			<array>
				<string>templateID</string>
				<string>title</string>
				<string>code</string>
				<string>cover</string>
				<string>file</string>
			</array>
			<key>description</key>
			<string>用户上传模板</string>
		</dict>
		<key>getAllTemplate</key>
		<dict>
			<key>path</key>
			<string>/api/v1/templates</string>
			<key>method</key>
			<string>GET</string>
			<key>parameter</key>
			<array/>
			<key>description</key>
			<string>请求获取模板列表</string>
		</dict>
		<key>modifyTemplate</key>
		<dict>
			<key>path</key>
			<string>/api/v1/templates</string>
			<key>method</key>
			<string>PUT</string>
			<key>parameter</key>
			<array>
				<string>templateID</string>
				<string>title</string>
				<string>code</string>
				<string>cover</string>
				<string>file</string>
			</array>
			<key>description</key>
			<string>用户修改上传过的模板</string>
		</dict>
		<key>deleteTemplate</key>
		<dict>
			<key>path</key>
			<string>/api/v1/templates/{uuid}</string>
			<key>method</key>
			<string>DELETE</string>
			<key>parameter</key>
			<array/>
			<key>description</key>
			<string>用户删除一个上传过的模板</string>
		</dict>
	</dict>
</dict>
</plist>
